/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 7, 2015, 5:25:29 PM
    Author     : Scott
*/

body{
    
}
#wrapper{
       min-height:100%;
   position:relative;
}

   #footer{
       font-size: 20px;
   position:fixed;
 bottom:0;
width: 100%;
 text-align: center;

}

#Banner{
        font-size: 40px;
   position:absolute;
    top: -20px;
    width: 100%;
     text-align:center;
   
} 
#content{
    font-size: 30px;
    position:relative;
    top: 150px;
    width:100%;
    text-align:center;
}
 #navbar{
       font-size: 15px;
     position:absolute;
     top: 60px;
     width: 4%;
  vertical-align: middle;
    text-align:left;
}