/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 7, 2015, 5:25:18 PM
    Author     : Scott
*/
body{
    
}
#Banner{
      font-size: 40px;
    position:absolute;
    top: 0px;
    width: 100%;
         text-align:center;
   
}
#footer{
    font-size: 20px;
   position:fixed;
 bottom:0;
 width: 100%;
 text-align: center;

}
#content{
    font-size: 30px;
    position:absolute;
    top: 120px;
    width:100%;
    text-align:center;
}
 #navbar{
       font-size: 20px;
  position:absolute;
    top: 80px;
    width:100%;
    text-align:center;
}