/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 8:11:27 PM
    Author     : Scott
*/
a{
    color: red;
}
body{
    background-color: blueviolet;
}
#Banner{

 color: white;
 background-color:aquamarine;
   
} 
#footer{
    color: white;
}
#content{
    color: white;
    
    background-color: blue;
   
}
 #navbar{

     color: white;
         background-color:green;
}