/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 8:12:52 PM
    Author     : Scott
*/

a{
    color: white;
}
body{
    background-color:purple;
}
#Banner{
  
 color: white;
 background-color:maroon;
   
} 
#footer{
    color: white;
}
#content{
    color: white;
    
    background-color: red;
   
}
 #navbar{
   
     color: white;
     background-color:#660066;
}