/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 8:12:21 PM
    Author     : Scott
*/
a{
    color:silver;
}
body{
    background-color: silver
}
#Banner{
  
 color: silver;
 background-color:blue;
   
} 
#footer{
    color: black;
}
#content{
    color: silver;
    
    background-color: red;
   
}
 #navbar{
   
     color: silver;
         background-color:red;
}