/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 8:12:01 PM
    Author     : Scott
*/

a{
    color: whitesmoke;
}
body{
    background-color :grey;
}
#Banner{
 
 color: white;
 background-color:black;
   
} 
#footer{
    color:white;
}
#content{
    color: white;
    
    background-color: grey;
   
}
 #navbar{
    
     color: white;
         background-color:silver;
}