/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 8:11:48 PM
    Author     : Scott
*/
a{
    color:white;
}
body{
    background-color: teal;
}
#Banner{

 color: white;
 background-color:violet;
   
} 
#footer{
    color:white;
}
#content{
    color: white;
    
    background-color: violet;
   
}
 #navbar{
   
     color: white;
     background-color:teal;
}