/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2015, 11:33:34 AM
    Author     : Scott
*/

body{
    
}
#Banner{
    
       font-size: 40px;
     text-align:center;
   
} 
#footer{
    font-size: 20px;
   position:fixed;
 bottom:0;
width: 100%;
 text-align: center;

}
#content{
    font-size:30px;
    text-align:center;
}
 #navbar{
          font-size:20px;
    text-align:left;
}