/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2015, 10:04:50 AM
    Author     : Scott
*/
.component_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: #0099cc; 
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
    -fx-font-size: 25px;
    
    -fx-font-family:  "Garamond";
    //-fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
    
}
.text-field{
    width: 100%;
}

.component_edit_view_select {
   -fx-background-radius: 10.0;
    -fx-background-color: #dbff00; 
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
    -fx-font-size: 25px;
    
    -fx-font-family:  "Garamond";
    //-fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
.EPortfolio_edit{
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(255, 255, 77);
    -fx-border-color: rgb(50, 5, 5);
    -fx-font-size: 20px;
   -fx-alignment:center;
   -fx-spacing: 100px;
    margin-top: auto;
    margin-bottom:auto;
    -fx-font-family:  "Garamond";
    //-fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
.background {
    -fx-background-color: rgb(255, 255, 77);
    -fx-font-size: 20px;
    
    -fx-font-family:  "Garamond";
    //-fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
.horizontal_toolbar {
    -fx-background-color: gold;
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
    -fx-font-size: 20px;
    -fx-font-family:  "Garamond";
   
    
    //-fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
.horizontal {
    -fx-hgap:10;
    -fx-vgap:10;
}
.vertical_toolbar {
    -fx-background-color: gold;
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
    -fx-font-size: 20px;
    -fx-font-family:  "Garamond";
       margin-top: auto;
    margin-bottom:auto;
    -fx-alignment:center;
    //-fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
