/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 7, 2015, 5:25:41 PM
    Author     : Scott
*/
body{
    
}
#wrapper{
       min-height:100%;
   position:relative;
}
#footer{
    font-size:20px;
   position:fixed;
 bottom:0;
 width: 100%;
 text-align: center;

}
#BannerImage{
    text-align: left;
}
#Banner{
       font-size: 40px;
   
     text-align:left;
   
} 
#content{
    font-size: 30px;
    text-align:center;
     padding:10px;
   padding-bottom:60px;
}
 #navbar{
    font-size: 20px;
    text-align:left;
}